<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927969501966-q14c5m57kofph8hublnjcb2dk48tqq72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927969501966-q14c5m57kofph8hublnjcb2dk48tqq72</string>
	<key>API_KEY</key>
	<string>AIzaSyD_pX1jxYXt9sHRGZRFrzpe1yFnkbHYNlM</string>
	<key>GCM_SENDER_ID</key>
	<string>927969501966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneAuthentication</string>
	<key>PROJECT_ID</key>
	<string>phone-auth-b03d6</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-auth-b03d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927969501966:ios:67cab1dee2ee1097af6d5f</string>
</dict>
</plist>